Source: shinken-mod-influxdb
Section: net
Priority: optional
Maintainer: Shinken Debian packages maintainers <pkg-shinken-maint@lists.alioth.debian.org>
Uploaders: Mathieu Parent <sathieu@debian.org>, Thibault Cohen <thibault.cohen@savoirfairelinux.com>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.6
XS-Python-Version: >= 2.5, << 3.0
Vcs-Git: git://anonscm.debian.org/pkg-shinken/shinken-mod-influxdb.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-shinken/shinken-mod-influxdb.git;a=summary
Homepage: http://shinken.io/package/shinken-mod-influxdb

Package: shinken-mod-influxdb
Architecture: any
Depends: ${misc:Depends}, shinken-common, python-influxdb
Breaks: shinken (<< 2~), shinken-common (<< 2~), shinken-core (<< 2~)
Description: Shinken shinken-mod-influxdb module
 Export host and service performance data and events to InfluxDB
 .
 Shinken is a new, Nagios compatible monitoring tool, written in Python. The
 main goal of Shinken is to allow users to have a fully flexible architecture
 for their monitoring system that can easily scale to large environments.
